.main-carousel-container {
  position: relative;
  color: #fff;
  background: linear-gradient(190deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("../assets/hero-img-community-engagement.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)),
    url("../assets/hero-img-community-engagement.jpg");
  margin-top: 4rem;
  color: #fff;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 3rem;
}
